<launch>
    <arg name="robot_namespace"/>
    <arg name="target_state" default="-1"/>

    <node pkg="unitree_controller_go1" type="unitree_controller_go1" name="unitree_controller_go1" respawn="true">
        <param name="robot_namespace" value="$(arg robot_namespace)" />
        <param name="target_state" value="$(arg target_state)" />
    </node>

</launch>